<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>signingCertificate</key>
	<string>Apple Development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>io.agora.AgoraEducation</key>
		<string>AgoraLab2020</string>
	</dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>development</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>JDPG69R49Z</string>
</dict>
</plist>
